@model List<DataBaseMVCApplication.ViewModels.ManufactorViewModel>
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/ManufactorLayout.cshtml";

}

    <div>
        @foreach (var manufactor in Model)
        {
            @Html.ActionLink(manufactor.Id.ToString(), "Show", new { manufactorId = manufactor.Id })
            <div>@manufactor.Name</div>
            <div>@manufactor.Phone</div>

        }
    </div>

<h2>Index</h2>

