
@{
    ViewBag.Title = "ManufactorLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
    <title>ManufactorLayout</title>
</head>
<body>
    <div>
        @Html.ActionLink("Добавить производителя", "Add", "Manufactor", null, new { @class = "btn btn-primary" })
        @RenderBody()
    </div>
</body>
</html>
